@import url(webFont.css);
html {
  font-size: 20px;
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5; }

.divider-line {
  width: 200px;
  border-bottom: 2px solid #32A7B8;
  margin: 2.5rem auto; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.contentWrapper {
  flex: 1; }

@media screen and (max-width: 720px) {
  #contentArea .wrapper {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column; } }
.navbar {
  background-color: #32A7B8;
  margin-bottom: 0; }
  .navbar .navbar-header .navbar-toggle {
    border-color: #32A7B8;
    background-color: transparent; }
  .navbar .navbar-collapse a {
    margin-top: 10px;
    color: #FFF; }

.docSearch {
  background-color: #F5F5F5;
  text-align: center;
  border-bottom: 1px solid #DFDFDF;
  padding: 1.5rem 0;
  margin-bottom: 1.8rem; }
  .docSearch h1 {
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.125;
    margin-top: .65rem; }
  .docSearch form {
    padding: 1.2rem 0;
    margin: 0 auto; }
    @media (min-width: 620px) {
      .docSearch form {
        width: 620px; } }
    @media (max-width: 620px) {
      .docSearch form {
        width: 100%; } }
    .docSearch form input, .docSearch form button {
      height: 50px;
      font-size: .9rem; }
    .docSearch form button {
      background-color: #4F92CA; }
    .docSearch form button:hover {
      background-color: #4689C2;
      -webkit-transition: all .5s ease 0s;
      -moz-transition: all .5s ease 0s;
      -ms-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      transition: all .5s ease 0s; }

#contentArea h2 {
  text-align: center; }
#contentArea .wrapper {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-around; }
  #contentArea .wrapper .box {
    flex: 1 50%;
    font-size: .8rem;
    line-height: 1.125;
    margin-bottom: .8rem; }
    #contentArea .wrapper .box i {
      color: #A7A7A7;
      margin-right: 6px; }
    #contentArea .wrapper .box span {
      color: #32A7B8; }

.category .wrapper {
  display: flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap; }
  .category .wrapper .box {
    border: 1px solid #E0E0E0;
    text-align: center;
    cursor: pointer;
    width: 30%;
    margin-bottom: .5rem;
    margin-right: 2%; }
    .category .wrapper .box p {
      color: #333;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.3;
      margin: 9px 0; }
    .category .wrapper .box a {
      color: #32A7B8;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: .7rem;
      margin: 15px 0 9px; }
  .category .wrapper .box:hover {
    background-color: #F8F8F8;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s; }

.footer {
  text-align: center; }
  .footer span {
    font-size: .5rem;
    color: #9B9B9B; }
    .footer span a {
      color: #9B9B9B; }
    .footer span a:hover {
      color: #222;
      -webkit-transition: all .5s ease 0s;
      -moz-transition: all .5s ease 0s;
      -ms-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      transition: all .5s ease 0s; }

/*# sourceMappingURL=docs.css.map */
